<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>2 Product Page - Server Side Rendering</title>
    <link rel="icon" href="data:;base64,=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main id="app"><%- html %></main>
    <script src="http://localhost:3002/organization/fragments.js" async></script>
  </body>
</html>